.App {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.play {
  margin-left: 48px;
}
.block {
  width: 27px;
  height: 27px;
  background: #888586;
  float: left;
  margin: 1px;
}
.blockNone {
  background: #ffffff; 
}
.open {
  z-index: -100;
}
